services:
  traefik:
    image: traefik:v3.6.2
    container_name: traefik_proxy
    restart: unless-stopped
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"     
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

  websocket-server:
    build: ./server
    restart: unless-stopped
    expose:
      - "8000"
    volumes:
      - ./server:/src
    env_file:
      - ./.env
    command: [ "uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000", "--reload" ]
    environment:
      - OLLAMA_HOST=http://ollama:11434
      - FISH_SPEECH_API_URL=http://fish-speech:8080/v1/tts
    depends_on:
      - redis
      - ollama
      - fish-speech
    
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.websocket-server.rule=Host(`localhost`)" 
      - "traefik.http.routers.websocket-server.entrypoints=web"
      - "traefik.http.services.websocket-server.loadbalancer.server.port=8000"
      # Rate Limiting Middleware
      - "traefik.http.routers.websocket-server.middlewares=ratelimit"
      - "traefik.http.middlewares.ratelimit.ratelimit.average=20"
      - "traefik.http.middlewares.ratelimit.ratelimit.burst=10"
      - "traefik.http.middlewares.ratelimit.ratelimit.period=1s"

  redis:
    image: redis:alpine3.22
    container_name: redis_broker
    restart: unless-stopped
    command: redis-server --save "" --loglevel warning --requirepass "${REDIS_PASSWORD}"

  ollama:
    image: ollama/ollama:latest
    container_name: ollama_llm
    restart: unless-stopped
    volumes:
      - ollama_data:/root/.ollama
    ports:
      - "11434:11434"

  fish-speech:
    image: fishaudio/fish-speech:latest-server-cpu
    container_name: fish_speech_tts
    restart: unless-stopped
    ports:
      - "8081:8080"
    volumes:
      - ./fish_speech_models:/app/checkpoints

volumes:
  ollama_data: