services:
  llm-server:
    build: ./server
    container_name: websocket_server
    restart: unless-stopped
    expose:
      - "8000"
    env_file:
      - ./server/.env
    depends_on:
      - redis
    command: [ "uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000" ]

  redis:
    image: redis:alpine
    container_name: redis_broker
    restart: unless-stopped
    command: redis-server --save 60 1 --loglevel warning

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    restart: unless-stopped
    volumes:
      - ./server/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80" # The only public entry point
    depends_on:
      - llm-server