services:
  traefik:
    image: traefik:v3.6.2
    container_name: traefik_proxy
    restart: unless-stopped
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"     
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  llm-server:
    build: ./server
    restart: unless-stopped
    expose:
      - "8000"
    volumes:
      - ./server:/src
    env_file:
      - ./server/.env
    depends_on:
      - redis
    command: [ "uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000", "--reload" ]
    
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.llm.rule=Host(`localhost`)" 
      - "traefik.http.routers.llm.entrypoints=web"
      - "traefik.http.services.llm.loadbalancer.server.port=8000"

  redis:
    image: redis:alpine3.22
    container_name: redis_broker
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: redis-server --save "" --loglevel warning